

.card-wrapper{
  display:grid;
  grid-template-columns: repeat(auto-fit,
  minmax(12rem,16rem));
  gap:2rem;
  justify-content: center;
  padding-top: 0.5rem;

}
.search-wrapper{
  display: flex;
  justify-content: center;
}

/* .card-wrapper :hover{
    transform: scale(1.02);
} */

